version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: fitness-mongo
    
    ports:
      - "27020:27017"
    volumes:
      - ./mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
      MONGO_INITDB_DATABASE: fitness
